@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --white: #FFFFFF;
    --shadow:  -11px -2px 13px -8px rgba(0,0,0,0.38);
    --border: rgba(165, 165, 165, 0.473);
    --font-color: rgb(88, 88, 88);
    --cazaBlue: #4a89bf;
}

*{
  box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
    font-family: 'inter', sans-serif;
    position: relative;
    overflow-x: hidden;
}
#modal-handler{
    background-color: rgba(0, 0, 0, 0.377);
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
#side-bar-main{
    width: 300px;
    height: 100%;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}
#side-bar-main .logo{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: calc(100% - 20px);
    padding-left: 10px;
    gap: 10px;
    margin-top: 10px;
}
#side-bar-main .logo span{
    color: var(--font-color);
}
#side-bar-main .logo img{
    width: 55px;
    height: auto;
}
#side-bar-main .logo .lblsidetitle{
    display: flex;
    flex-direction: column;
}
#side-bar-main .logo .lblsidetitle span:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
#side-bar-main .logo .lblsidetitle span:nth-child(2){
    font-size: 20px;
    font-weight: 600;
}
#side-bar-main .tab{
    color: var(--font-color);
    padding: 50px 5px 5px 20px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#side-bar-main .tab li{
    list-style-type: none;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;

}
#side-bar-main .tab li:hover{
    background-color: #eeeeee;
}
#side-bar-main .tab li i{
    padding: 5px;
}
#side-bar-main .tab li span{
    font-size: 15px;
    width: calc(100% - 50px);
}
#side-bar-main .tab li .with-logo{
    padding-left: 14px;
}
#side-bar-main .tab .parent-tab{

    padding: 10px 0px 10px 0px;
}










.nav-main{
    height: 100%;
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
}
.nav-main .nav-bar{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav-main #content-contain{
    width: 100%;
    height: calc(100% - 65px);
}


#btnLogOut{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--cazaBlue);
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    font-family: 'inter', sans-serif;
    transition: background-color .5s;
}
#btnLogOut:hover{
    background-color: rgb(58, 58, 58);
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fadeInRight 0.5s ease forwards;
}


#loading{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 2000;
}

/* From Uiverse.io by dhruv465 */ 
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  /* Add some glow effect */
  .loader::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px #3498db;
  }
  
  /* Rotate the circle */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

#eva-view{
    margin-top: 40px;
}
.modelViewPort {
    perspective: 1000px;
    width: 15rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .eva {
    --EVA-ROTATION-DURATION: 4s;
    transform-style: preserve-3d;
    animation: rotateRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
  }
  .head {
    position: relative;
    width: 6rem;
    height: 4rem;
    border-radius: 48% 53% 45% 55% / 79% 79% 20% 22%;
    background: linear-gradient(to right, white 45%, gray);
  }
  .eyeChamber {
    width: 4.5rem;
    height: 2.75rem;
    position: relative;
    left: 50%;
    top: 55%;
    border-radius: 45% 53% 45% 48% / 62% 59% 35% 34%;
    background-color: #0c203c;
    box-shadow: 0px 0px 2px 2px white, inset 0px 0px 0px 2px black;
    transform: translate(-50%, -50%);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
  }
  .eye {
    width: 1.2rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
  }
  .eye:first-child {
    left: 12px;
    top: 50%;
    background: repeating-linear-gradient(
      65deg,
      #9bdaeb 0px,
      #9bdaeb 1px,
      white 2px
    );
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(-65deg);
  }
  .eye:nth-child(2) {
    right: 12px;
    top: 50%;
    background: repeating-linear-gradient(
      -65deg,
      #9bdaeb 0px,
      #9bdaeb 1px,
      white 2px
    );
    box-shadow: inset 0px 0px 5px #04b8d5, 0px 0px 15px 1px #0bdaeb;
    transform: translate(0, -50%) rotate(65deg);
  }
  .body {
    width: 6rem;
    height: 8rem;
    position: relative;
    margin-block-start: 0.25rem;
    border-radius: 47% 53% 45% 55% / 12% 9% 90% 88%;
    background: linear-gradient(to right, white 35%, gray);
  }
  .hand {
    position: absolute;
    left: -1.5rem;
    top: 0.75rem;
    width: 2rem;
    height: 5.5rem;
    border-radius: 40%;
    background: linear-gradient(to left, white 15%, gray);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
    transform: rotateY(55deg) rotateZ(10deg);
  }
  .hand:first-child {
    animation: compensateRotation var(--EVA-ROTATION-DURATION) linear infinite
      alternate;
  }
  .hand:nth-child(2) {
    left: 92%;
    background: linear-gradient(to right, white 15%, gray);
    transform: rotateY(55deg) rotateZ(-10deg);
    animation: compensateRotationRight var(--EVA-ROTATION-DURATION) linear
      infinite alternate;
  }
  .scannerThing {
    width: 0;
    height: 0;
    position: absolute;
    left: 60%;
    top: 10%;
    border-top: 180px solid #9bdaeb;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    transform-origin: top left;
    mask: linear-gradient(to right, white, transparent 35%);
    animation: glow 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  }
  .scannerOrigin {
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 60%;
    top: 10%;
    background: #9bdaeb;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite;
  }
  @keyframes rotateRight {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(25deg);
    }
  }
  @keyframes moveRight {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-40%, -50%);
    }
  }
  @keyframes compensateRotation {
    from {
      transform: rotateY(55deg) rotateZ(10deg);
    }
    to {
      transform: rotatey(30deg) rotateZ(10deg);
    }
  }
  @keyframes compensateRotationRight {
    from {
      transform: rotateY(55deg) rotateZ(-10deg);
    }
    to {
      transform: rotateY(70deg) rotateZ(-10deg);
    }
  }
  @keyframes glow {
    from {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    45% {
      transform: rotate(-25deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      opacity: 0;
    }
  }
  