@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --white: #FFFFFF;
    --shadow:  -11px -2px 13px -8px rgba(0,0,0,0.38);
    --border: rgba(165, 165, 165, 0.473);
    --font-color: rgb(88, 88, 88);
}


html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
    font-family: 'inter', sans-serif;
    position: relative;
}
#modal-handler{
    background-color: rgba(0, 0, 0, 0.377);
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
#side-bar-main{
    width: 300px;
    height: 100%;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}
#side-bar-main .logo{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: calc(100% - 20px);
    padding-left: 10px;
    gap: 10px;
    margin-top: 10px;
}
#side-bar-main .logo span{
    color: var(--font-color);
}
#side-bar-main .logo img{
    width: 55px;
    height: auto;
}
#side-bar-main .logo .lblsidetitle{
    display: flex;
    flex-direction: column;
}
#side-bar-main .logo .lblsidetitle span:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
#side-bar-main .logo .lblsidetitle span:nth-child(2){
    font-size: 20px;
    font-weight: 600;
}
#side-bar-main .tab{
    color: var(--font-color);
    padding: 50px 5px 5px 20px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#side-bar-main .tab li{
    list-style-type: none;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;

}
#side-bar-main .tab li:hover{
    background-color: #eeeeee;
}
#side-bar-main .tab li i{
    padding: 5px;
}
#side-bar-main .tab li span{
    font-size: 18px;
    width: calc(100% - 50px);
}
#side-bar-main .tab li .with-logo{
    padding-left: 14px;
}
#side-bar-main .tab .parent-tab{

    padding: 10px 0px 10px 0px;
}










.nav-main{
    height: 100%;
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
}
.nav-main .nav-bar{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--border);
}
.nav-main #content-contain{
    width: 100%;
    height: calc(100% - 65px);
}
