@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --white: #FFFFFF;
    --shadow:  -11px -2px 13px -8px rgba(0,0,0,0.38);
    --border: rgba(165, 165, 165, 0.473);
    --font-color: rgb(88, 88, 88);
    --text-field: rgb(156, 156, 156);
    --cazaBlue: #4a89bf;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-guest-reg{
    background-color: var(--white);
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-guest-reg section{
    padding: 0px 20px 0px 20px;
}
.modal-guest-reg .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-guest-reg .title span{
    font-size: 17px;
}
.modal-guest-reg .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-guest-reg .title button:hover{
    background-color: #eeeeee;
}
.modal-guest-reg .text-field{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 50px;
    align-items: end;
    color: var(--font-color);
}
.modal-guest-reg .text-field span{
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    background-color: var(--white);
    padding: 0px 8px 0px 8px;
}
.modal-guest-reg .text-field .textbox{
    width: 100%;
    border: 1px solid var(--text-field);
    outline: none;
    height: 35px;
    border-radius: 6px;
    padding-left: 20px;
    color: var(--font-color);
    font-size: 15px;
}
.modal-guest-reg #btnSubmitGuest{
    width: calc(100% - 40px);
    align-self: center;
    color: var(--white);
    background-color: #4a89bf;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}


/*__________________________________ modal add villa______________________________________________________________________________________________ */

.modal-add-villa{
    background-color: var(--white);
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-add-villa section{
    padding: 0px 20px 0px 20px;
}
.modal-add-villa .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-add-villa .title span{
    font-size: 17px;
}
.modal-add-villa .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-add-villa .title button:hover{
    background-color: #eeeeee;
}
.modal-add-villa .text-field{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 50px;
    align-items: end;
    color: var(--font-color);
}
.modal-add-villa .text-field span{
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    background-color: var(--white);
    padding: 0px 8px 0px 8px;
}
.modal-add-villa .text-field .textbox{
    width: 100%;
    border: 1px solid var(--text-field);
    outline: none;
    height: 35px;
    border-radius: 6px;
    padding-left: 20px;
    color: var(--font-color);
    font-size: 15px;
}
.modal-add-villa #btnSubmitVilla{
    width: calc(100% - 40px);
    align-self: center;
    color: var(--white);
    background-color: #4a89bf;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
/* ______________________________________VILLA REGISTRATION END______________________________________ */

/* _______________________________________ROOM REGISTRATION START_________________________ */

.modal-add-room{
    background-color: var(--white);
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-add-room section{
    padding: 0px 20px 0px 20px;
}
.modal-add-room .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-add-room .title span{
    font-size: 17px;
}
.modal-add-room .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-add-room .title button:hover{
    background-color: #eeeeee;
}
.modal-add-room .text-field{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 50px;
    align-items: end;
    color: var(--font-color);
}
.modal-add-room .text-field span{
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    background-color: var(--white);
    padding: 0px 8px 0px 8px;
}
.modal-add-room .text-field .textbox{
    width: 100%;
    border: 1px solid var(--text-field);
    outline: none;
    height: 35px;
    border-radius: 6px;
    padding-left: 20px;
    color: var(--font-color);
    font-size: 15px;
}
.modal-add-room #btnSubmitRoom{
    width: calc(100% - 40px);
    align-self: center;
    color: var(--white);
    background-color: #4a89bf;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}


/* _______________________MODAL ADD ROOM END ____________________________________________*/



/* ________________________MODAL ADD PACKAGE_______________________________________________ */

.modal-add-package{
    background-color: var(--white);
    min-width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-add-package section{
    padding: 0px 20px 0px 20px;
}
.modal-add-package .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-add-package .title span{
    font-size: 17px;
}
.modal-add-package .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-add-package .title button:hover{
    background-color: #eeeeee;
}

.modal-add-package #btnSubmitPackage{
    width: calc(100% - 40px);
    align-self: center;
    color: var(--white);
    background-color: #4a89bf;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-add-package .package-l-r{
    height: 300px;
    width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.modal-add-package .package-l-r .packagetxt{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    padding: 0px;
    height: 100%;
}
.modal-add-package .package-l-r .packagetxt .text-field{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 50px;
    align-items: end;
    color: var(--font-color);
    overflow: visible;
    width: 100%;
}
.modal-add-package .package-l-r .packagetxt .text-field span{
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    background-color: var(--white);
    padding: 0px 8px 0px 8px;
}
.modal-add-package .package-l-r .packagetxt .text-field .textbox{
    width: 100%;
    border: 1px solid var(--text-field);
    outline: none;
    height: 35px;
    border-radius: 6px;
    padding-left: 20px;
    color: var(--font-color);
    font-size: 15px;
}

/* __________________________________________MODAL ADD PACKAGE END________________________________ */


/* __________________________________________MODAL ADD BOOKING_______________________________________ */


.modal-add-booking{
    background-color: var(--white);
    min-width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-add-booking section{
    padding: 0px 20px 0px 20px;
}
.modal-add-booking .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 60px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-add-booking .title span{
    font-size: 17px;
}
.modal-add-booking .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-add-booking .title button:hover{
    background-color: #eeeeee;
}

.modal-add-booking #btnSubmitbooking{
    width: calc(100% - 40px);
    align-self: center;
    color: var(--white);
    background-color: #4a89bf;
    border: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-add-booking .booking-l-r{
    height: 320px;
    width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.modal-add-booking .booking-l-r .bookingtxt{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    height: 100%;
}
.modal-add-booking .booking-l-r .bookingtxt .text-field{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: baseline;
    position: relative;
    height: 50px;
    align-items: end;
    color: var(--font-color);
    overflow: hidden;
    width: 100%;
}
.modal-add-booking .booking-l-r .bookingtxt .text-field span{
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 2;
    font-size: 14px;
    background-color: var(--white);
    padding: 0px 8px 0px 8px;
}
.modal-add-booking .booking-l-r .bookingtxt .text-field .textbox{
    width: 100%;
    border: 1px solid var(--text-field);
    outline: none;
    height: 35px;
    border-radius: 6px;
    padding-left: 20px;
    color: var(--font-color);
    font-size: 15px;
}















/* MESSAGE BOXES */
.modal-confirm-guest{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-confirm-guest img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}

.modal-confirm-guest p{
    font-size: 17px;
    color: var(--font-color);
    margin-top: 90px;
}
.modal-confirm-guest section{
    width: calc(100% - 40px);
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 8px;
}
.modal-confirm-guest section button{
    width: 80px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    font-size: 13px;
    cursor: pointer;
}
.modal-confirm-guest section button:nth-child(1){
    color: var(--cazaBlue);
    background-color: transparent;
}
.modal-confirm-guest section button:nth-child(2){
    color: var(--white);
    background-color: var(--cazaBlue);
}

/* modal-success-guest */

.modal-success-guest{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-guest img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-guest p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}



/* Villa success */

.modal-success-villa{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-villa img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-villa p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}

/* room success */

.modal-success-room{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-room img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-room p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}


/* package success */

.modal-success-package{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-package img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-package p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}



/* modal for booking */



.modal-confirm-booking{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-confirm-booking img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}

.modal-confirm-booking p{
    font-size: 17px;
    color: var(--font-color);
    margin-top: 90px;
}
.modal-confirm-booking section{
    width: calc(100% - 40px);
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 8px;
}
.modal-confirm-booking section button{
    width: 80px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    font-size: 13px;
    cursor: pointer;
}
.modal-confirm-booking section button:nth-child(1){
    color: var(--cazaBlue);
    background-color: transparent;
}
.modal-confirm-booking section button:nth-child(2){
    color: var(--white);
    background-color: var(--cazaBlue);
}

/*modal for delete villa*/


.modal-confirm-deleteV{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-confirm-deleteV img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}

.modal-confirm-deleteV p{
    font-size: 17px;
    color: var(--font-color);
    margin-top: 90px;
}
.modal-confirm-deleteV section{
    width: calc(100% - 40px);
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 8px;
}
.modal-confirm-deleteV section button{
    width: 80px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    font-size: 13px;
    cursor: pointer;
}
.modal-confirm-deleteV section button:nth-child(1){
    color: var(--cazaBlue);
    background-color: transparent;
}
.modal-confirm-deleteV section button:nth-child(2){
    color: var(--white);
    background-color: var(--cazaBlue);
}

/* modal-success-guest */

.modal-success-booking{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-booking img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-booking p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}









.modal-view-details{
    background-color: var(--white);
    width: 820px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.modal-view-details section{
    padding: 0px 20px 0px 20px;
}
.modal-view-details .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
}
.modal-view-details .title span{
    font-size: 17px;
}
.modal-view-details .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-view-details .title button:hover{
    background-color: #eeeeee;
}








.modal-view-details .detail-row{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 15px;
}
.modal-view-details .detail-row .detail-lr{
    width: 50%;
    display: flex;
    gap: 8px;
}
.modal-view-details .detail-row .detail-lr span{
    font-size: 16px;
    color: var(--font-color);
}
.modal-view-details .detail-row .detail-lr span:nth-child(1){
    font-weight: 600;

}
.modal-view-details .detail-action{
    margin-top: 20px;
    min-height: 30px;
    display: flex;
    align-items: end;
    justify-content: right;
    gap: 10px;
    position: relative;
    
    padding-top: 10px;
}
.modal-view-details .first-da{
    border-top: 1px solid var(--border);
}
.modal-view-details .new-da{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
}
.modal-view-details .new-da button{
    position: absolute;
    right: 20px;
    width: 90px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    background-color: transparent;
    font-size: 13px;
    color: var(--cazaBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.modal-view-details .new-da .add-ons-textbox, .modal-view-details .new-da .adjustment-textbox{
    color: var(--font-color);
    font-size: 13px;
    height: 25px;
    outline: none;
    border: 1px solid var(--border);
    resize: none;
    width: 200px;
    padding-left: 10px;
}

#btnCheckBill,#btnUpdateChanges{
    width: 90px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    background-color: transparent;
    font-size: 13px;
    color: var(--cazaBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.modal-view-details .detail-action .selecttags{
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
    left: 20px;
    gap: 10px;
}
.modal-view-details .detail-action .selecttags select{
    color: var(--font-color);
    font-size: 13px;
    height: 25px;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--border);
}



#tag-container{
    background-color: var(--white);
    width: 150px;
    position: absolute;
    right: -165px;
    top: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    display: none;
    padding: 5px 5px 5px 5px;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}
#tag-container p{
    border-bottom: 1px solid var(--border);
    margin: 0;
    padding: 0; 
    color: var(--font-color);
    font-size: 15px;
    padding-bottom: 5px;
}

#tag-container #selected-rooms{
    padding: 0px;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: unset;
}
#tag-container #selected-rooms p{
   border: none;
    margin: 0; 
    padding: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}

#tag-container #selected-rooms p i{
    cursor: pointer;
}





/* _____________________BILLING MODAL___________________________ */


.modal-billing-container{
    height: 600px;
    width: 750px;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.modal-billing-container .title{
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    height: 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 0px 20px 0px 20px;
    background-color: var(--white);
    z-index: 2;
}
.modal-billing-container .title span{
    font-size: 17px;
}
.modal-billing-container .title button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.modal-billing-container .title button:hover{
    background-color: #eeeeee;
}
.modal-billing-container .slideface{
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s;
}
.btncontroller{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .2s;
}
.btncontroller:hover{
    transform: scale(1.1);
}

.modal-billing-container .billing-details{
    width: 100%;
    background-color:  var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.modal-billing-container .billing-details .detail-row{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 15px;

    padding: 0px 20px 0px 20px;
}
.modal-billing-container .billing-details .detail-row .detail-lr{
    width: 50%;
    display: flex;
    gap: 8px;
    align-items: center;
}
.modal-billing-container .billing-details .detail-row .detail-lr span{
    font-size: 16px;
    color: var(--font-color);
    
}
.modal-billing-container .billing-details .detail-row .detail-lr span:nth-child(1){
    font-weight: 600;

}
.modal-billing-container .billing-details .detail-row .detail-lr .billingdTextField{
    border: 1px solid var(--border);
    margin-left: auto;
    margin-right: 50px;
    height: 30px;
    width: 180px;
    outline: none;
    font-size: 15px;
    padding-left: 8px;
    color: var(--font-color);
}









.modal-billing-container .billing-add-ons{
    width: 0%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
}
.modal-billing-container .slideface table {
    border-collapse: collapse;
    width: 370px;
    margin-bottom: 20px;
  }

.modal-billing-container .slideface thead {
    background-color: transparent;
  }

.modal-billing-container .slideface table thead th{
    font-size: 13px;
    color: var(--font-color);
}

.modal-billing-container .slideface thead th, .modal-billing-container .slideface td {
    border: 1px solid #cccccc8c;
    text-align: left;
}
.modal-billing-container .slideface table tbody tr td{
    font-size: 12px;
}

.modal-billing-container .slideface table tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #cccccc8c;
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #999 transparent;  /* Firefox */
  }
  
  /* WebKit (Chrome, Edge, Safari) */
  .modal-billing-container .slideface table tbody::-webkit-scrollbar {
    width: 6px;
  }
  
  .modal-billing-container .slideface table tbody::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .modal-billing-container .slideface table tbody::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 3px;
  }

.modal-billing-container .slideface thead,.modal-billing-container .slideface tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
.modal-billing-container .billing-add-ons .add-ons-row{
    gap: 10px;
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.modal-billing-container .billing-add-ons .add-ons-row .add-ons-textbox{
    width: 100%;
    height: 30px;
    border: 1px solid var(--border);
    color: var(--font-color);
    outline: none;
    padding: 0;
    margin: 0;
    padding: 0px 10px 0px 10px;
    resize: none;

}
.modal-billing-container .billing-add-ons .add-ons-row .add-ons-textbox:nth-child(2){
 
}

.modal-billing-container .billing-add-ons .add-ons-row .add-ons-textbox::placeholder{
    color: var(--font-color);
}
.modal-billing-container .billing-add-ons .add-ons-row button{
    border: 1px solid var(--cazaBlue);
    color: var(--cazaBlue);
    font-size: 15px;
    width: calc(100% + 22px);
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}


.modal-billing-container .billing-discounts{
    width: 0%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
}
.modal-billing-container .billing-discounts .discounts-row{
    gap: 10px;
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-billing-container .billing-discounts .discounts-row .discounts-textbox{
    width: 100%;
    height: 30px;
    border: 1px solid var(--border);
    color: var(--font-color);
    outline: none;
    padding: 0;
    margin: 0;
    padding: 0px 10px 0px 10px;
}
.modal-billing-container .billing-discounts .discounts-row button{
    border: 1px solid var(--cazaBlue);
    color: var(--cazaBlue);
    font-size: 15px;
    width: 370px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.modal-billing-container .billing-adjustment{
    width: 0%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
}

.modal-billing-container .billing-adjustment .adjustment-row{
    gap: 10px;
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-billing-container .billing-adjustment .adjustment-row .adjustment-textbox{
    width: 100%;
    height: 30px;
    border: 1px solid var(--border);
    color: var(--font-color);
    outline: none;
    padding: 0;
    margin: 0;
    padding: 0px 10px 0px 10px;
    resize: none;
}

.modal-billing-container .billing-adjustment .adjustment-row .adjustment-textbox:nth-child(3){
    width: calc(100% + 22px);
    resize: none;
    height: 30px;
    font-family: 'inter', sans-serif;
}
.modal-billing-container .billing-adjustment .adjustment-row button{
    border: 1px solid var(--cazaBlue);
    color: var(--cazaBlue);
    font-size: 15px;
    width: calc(100% + 22px);
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}





/* Billing_____________________________________________ */

.modal-confirm-save-changes{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-confirm-save-changes img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}

.modal-confirm-save-changes p{
    font-size: 17px;
    color: var(--font-color);
    margin-top: 90px;
}
.modal-confirm-save-changes section{
    width: calc(100% - 40px);
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 8px;
}
.modal-confirm-save-changes section button{
    width: 80px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    font-size: 13px;
    cursor: pointer;
}
.modal-confirm-save-changes section button:nth-child(1){
    color: var(--cazaBlue);
    background-color: transparent;
}
.modal-confirm-save-changes section button:nth-child(2){
    color: var(--white);
    background-color: var(--cazaBlue);
}

/* SUCCESS________________________________________________________ */

.modal-success-save-changes{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-save-changes img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-save-changes p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}




/* _________________________________BILLING CHANGES__________________ */


.modal-confirm-billing-changes{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-confirm-billing-changes img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}

.modal-confirm-billing-changes p{
    font-size: 17px;
    color: var(--font-color);
    margin-top: 90px;
}
.modal-confirm-billing-changes section{
    width: calc(100% - 40px);
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 8px;
}
.modal-confirm-billing-changes section button{
    width: 80px;
    height: 25px;
    border: 1px solid var(--cazaBlue);
    font-size: 13px;
    cursor: pointer;
}
.modal-confirm-billing-changes section button:nth-child(1){
    color: var(--cazaBlue);
    background-color: transparent;
}
.modal-confirm-billing-changes section button:nth-child(2){
    color: var(--white);
    background-color: var(--cazaBlue);
}



.modal-success-billing-changes{
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 10px;
}
.modal-success-billing-changes img{
    height: 90px;
    width: auto;
    position: absolute;
    top: -40px;
}
.modal-success-billing-changes p{
    color: var(--font-color);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 10px;
}
