@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --white: #FFFFFF;
    --shadow:  -11px -2px 13px -8px rgba(0,0,0,0.38);
    --border: rgba(165, 165, 165, 0.473);
    --font-color: rgb(88, 88, 88);
    --text-field: rgb(156, 156, 156);
    --cazaBlue: #4a89bf;
}
.package-reg-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-reg-page .package-content{
    width: calc(100% - 60px);
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.package-reg-page .package-content section{
    width: 100%;
}
.package-reg-page .package-content .package-action{
    display: flex;
    align-items: center;
    justify-content: right;
}
#btnOpenAddpackage{
    width: 100px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid var(--cazaBlue);
    color: var(--cazaBlue);
}
.package-reg-page .package-content .package-table{
    max-height: calc(100% - 100px);
    border: 1px solid #ccc;
    overflow-y: auto;
}