@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root{
    --white: #FFFFFF;
    --shadow:  -11px -2px 13px -8px rgba(0,0,0,0.38);
    --border: rgba(165, 165, 165, 0.473);
    --font-color: rgb(88, 88, 88);
    --text-field: rgb(156, 156, 156);
    --cazaBlue: #4a89bf;
}
.room-registration-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room-registration-page .room-content{
    width: calc(100% - 60px);
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.room-registration-page .room-content section{
    width: 100%;
}
.room-registration-page .room-content .room-action{
    display: flex;
    align-items: center;
    justify-content: right;
}
#btnOpenAddRoom{
    width: 100px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid var(--cazaBlue);
    color: var(--cazaBlue);
}
.room-registration-page .room-content .room-table{
    max-height: calc(100% - 100px);
    border: 1px solid #ccc;
    overflow-y: auto;
}

















































/* .room-registration-page .room-content .room-action .searchblock{
  
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    overflow: hidden;
    border: 1px solid var(--border);
    
}
#txtSearchRoom{
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px 0px 0px 15px;
}
#btnSearchRoom{
    height: 30px;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--cazaBlue);
    width: 40px;
    border-radius: 0px 15px 15px 0px;
} */