<div class="billing-page">
    <main class="billing-content">
        <section class="billing-action">
            <input type="text" id="txtSearchBilling" placeholder="Search...">
        </section>

        <section class="billing-table">
            <table>
                <thead>
                    <tr>
                        <th>Guest</th>
                        <th>Package</th>
                        <th>No. of Person</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="t-b-billing">
                    <tr>
                        <td>Cardo Dimagiba</td>
                        <td>Package 1</td>
                        <td>4</td>
                        <td>Oct. 8, 2025 | 9:30AM</td>
                        <td>Oct. 9, 2025 | 10:00AM</td>
                        <td><button class="btnOpenBillingModal" data-id="1">Pay</button></td>
                    </tr>
                </tbody>
                
            </table>
        </section>
    </main>
</div>