<div class="home-page">
    <div class="villa v-one">
        <span class="villa-title">Villa No. 1 <p id="villa-1-dot"></p></span>
        <section class="rooms">Room 101 <div class="triangle"></div></section>
        <section class="rooms">Room 102 <div class="triangle"></div></section>
        <section class="rooms">Room 103 <div class="triangle"></div></section>

    </div>
    <div class="villa v-two">
        <span class="villa-title">Villa No. 2 <p id="villa-2-dot"></p></span>
        <section class="rooms">Room 201 <div class="triangle"></div></section>
        <section class="rooms">Room 202 <div class="triangle"></div></section>
        <section class="rooms">Room 203 <div class="triangle"></div></section>

    </div>
    <div class="villa v-three">
        <span class="villa-title">Villa No. 3 <p id="villa-3-dot"></p></span>
        <section class="rooms">Room 301 <div class="triangle"></div></section>
        <section class="rooms">Room 302 <div class="triangle"></div></section>
        <section class="rooms">Room 303 <div class="triangle"></div></section>
    </div>
</div>