<div class="villa-border">
    <div class="villa-figure">
        <span class="pin-lang"></span>
        <img src="/assets/blue-logo-cleared.png" alt="">
        <span class="suit-name">Suite 000</span>
    </div>
    <div class="villa-figure">
        <span class="pin-lang"></span>
        <img src="/assets/blue-logo-cleared.png" alt="">
        <span class="suit-name">Suite 000</span>
    </div>
    <div class="villa-figure">
        <span class="pin-lang"></span>
        <img src="/assets/blue-logo-cleared.png" alt="">
        <span class="suit-name">Suite 000</span>
    </div>
</div>