<div class="home-page">
    <!--<div class="villa v-one">
        <span class="villa-title">Villa No. 1 <p id="villa-1-dot"></p></span>
        <section class="rooms">Room 101 <div class="triangle"></div></section>
        <section class="rooms">Room 102 <div class="triangle"></div></section>
        <section class="rooms">Room 103 <div class="triangle"></div></section>

    </div>
    <div class="villa v-two">
        <span class="villa-title">Villa No. 2 <p id="villa-2-dot"></p></span>
        <section class="rooms">Room 201 <div class="triangle"></div></section>
        <section class="rooms">Room 202 <div class="triangle"></div></section>
        <section class="rooms">Room 203 <div class="triangle"></div></section>

    </div>
    <div class="villa v-three">
        <span class="villa-title">Villa No. 3 <p id="villa-3-dot"></p></span>
        <section class="rooms">Room 301 <div class="triangle"></div></section>
        <section class="rooms">Room 302 <div class="triangle"></div></section>
        <section class="rooms">Room 303 <div class="triangle"></div></section>
    </div>-->
</div>

<script>
    $(document).ready(function() {
        var plotList = [];
        var villaList = [];
        var roomlistPlotting = [];
        var newSetVilla = [];

        $.ajax({
            type:"GET",
            url:"http://localhost:3000/roomListPlot",
            success: function(data){
                
                var roomData = data.toplotRoom;
                
                $.each(roomData, function(index, room) {
                        plotList.push(room);
                    });

                    //first get room data

                    for(var room_count = 0; room_count<roomData.length; room_count++){

                        var room_name = roomData[room_count].room_name;
                        var villa_id = roomData[room_count].villa_id;
                        var room_status = roomData[room_count].room_status;
                        var villa_name = roomData[room_count].villa_name;

                        console.log(villa_name);
                        villaList.push(villa_name);
                        roomlistPlotting.push(({"room_name":room_name, "villa_id":villa_id, "room_status":room_status}));

                        }
                    //first get room data

                    //second get the villa data and remove duplicate

                    function removeDuplicate(arr){
                        return[...new Set(arr)];
                    }

                    console.log(removeDuplicate(villaList))

                    //second get the villa data and remove duplicate


                    //iterate trough the cleaned list then add it to DOM and push to newSet of villa list

                    for(var x = 0; x < removeDuplicate(villaList).length; x++){

                        console.log(removeDuplicate(villaList)[x]);

                        var villa_name = removeDuplicate(villaList)[x];

                        console.log(villa_name.replace(/\s/g, ''));

                        var villa_id_name = villa_name.replace(/\s/g, '')

                        newSetVilla.push(villa_id_name);

                        var to_append = `

                        <div class="villa v-one " id=${villa_id_name}>

                            <span class="villa-title" >${villa_name}<p id="villa-1-dot"></p></span>

                        </div>
                        `;

                        $(".home-page").append(to_append);

                        }

                    //iterate trough the cleaned list then add it to DOM and push to newSet of villa list

                    //loop to new set of villa and add DOM of room


                    for(var b = 0; b<newSetVilla.length; b++){

                        for(var z = 0; z<roomlistPlotting.length; z++){

                            var room_name = roomlistPlotting[z].room_name;
                            var villa_id = roomlistPlotting[z].villa_id.replace(/\s/g, '');
                            var room_status = roomlistPlotting[z].room_status;

                            if(villa_id == newSetVilla[b]){

                                    //$("#"+newSetVilla[b]).append(`<div id=${room_name.replace(/\s/g, '')}>${room_name}</div>`);

                                    $("#"+newSetVilla[b]).append(`<section class="rooms" id=${room_name.replace(/\s/g, '')}>${room_name}<div class="triangle ${room_name.replace(/\s/g, '')}"></div></section>`);

                                    

                                    }
                        }

                    }

                    //loop to new set of villa and add DOM of room



                    //last is to iterate to rooms and set color background to yellow and red

                    let triangleindicator = $(this).find(".triangle"); 

                    for(var c = 0; c < roomlistPlotting.length; c++){
                        var room_status = roomlistPlotting[c].room_status;
                        var room_name = roomlistPlotting[c].room_name;

                        if(room_status == 'inactive'){
                           
                            //$("#"+room_name.replace(/\s/g, '')).css("background-color", "red");
                           
                           $(".home-page .villa"+" "+"."+room_name.replace(/\s/g, '')).css({"width": "0",
                                                                    "height": "0",
                                                                    "border-right": "50px solid red", 
                                                                    "border-bottom": "50px solid transparent",
                                                                    "position": "absolute",
                                                                    "top": "0",
                                                                    "right": "0"});
                            //console.log("i")
                        }

                        else if(room_status=='active'){
                            
                            //$("#"+room_name.replace(/\s/g, '')).css("background-color", "yellow");
                            
                            $(".home-page .villa"+" "+"."+room_name.replace(/\s/g, '')).css({"width": "0",
                                                                    "height": "0",
                                                                    "border-right": "50px solid yellow", 
                                                                    "border-bottom": "50px solid transparent",
                                                                    "position": "absolute",
                                                                    "top": "0",
                                                                    "right": "0"});
                            //console.log("a")
                        }



                        else if(room_status=='pending'){
                            
                            //$("#"+room_name.replace(/\s/g, '')).css("background-color", "yellow");
                            
                            $(".home-page .villa"+" "+"."+room_name.replace(/\s/g, '')).css({"width": "0",
                                                                    "height": "0",
                                                                    "border-right": "50px solid gray", 
                                                                    "border-bottom": "50px solid transparent",
                                                                    "position": "absolute",
                                                                    "top": "0",
                                                                    "right": "0"});
                            //console.log("a")
                        }
                    }


                    //last is to iterate to rooms and set color background to yellow and red

            }, 

            error: function(xhr){

            }

        });
    });

</script>