<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/blue-logo.png" type="image/x-icon">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/modal.css">
    <link rel="stylesheet" href="/style/villa-reg.css">
    <link rel="stylesheet" href="/style/room-reg.css">
    <link rel="stylesheet" href="/style/package-reg.css">
    <link rel="stylesheet" href="/style/reservation.css">
    <link rel="stylesheet" href="/style/billing.css">
    <link rel="stylesheet" href="/style/homev2.css">
    <link rel="stylesheet" href="/style/reports.css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>


    <!-- namespaces -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
   
</head>
<body>

    <div id="loading">
        <div class="loader"></div>
    </div>
    <div id="modal-handler">
  
    </div>
    <aside id="side-bar-main">
        <section class="side logo"><img src="/assets/blue-logo-cleared.png" alt=""><span class="lblsidetitle"><span>EST. 2024</span><span>Caza Buena</span></span></section>
        <section class="side tab">
            <li class="parent-tab" id="btnOpenHome"><i class="fas fa-home"></i><span class="with-logo">Home</span></li>
            <li class="parent-tab" id="btnOpenHomev2"><i class="fas fa-columns"></i><span class="with-logo">Dashboard</span></li>
            <li class="parent-tab" id="btnOpenGuestRegistration"><i class="fas fa-user"></i><span class="with-logo">Guest registration</span></li>
            <li class="parent-tab" id="btnOpenGuestList"><i class="fas fa-users"></i><span class="with-logo">Guest list</span></li>
            <li class="parent-tab" id="btnOpenVillaRegistration"><i class="fas fa-hotel"></i><span class="with-logo">Villa registration</span></li>
            <li class="parent-tab" id="btnOpenRoomRegistration"><i class="fas fa-bed"></i><span class="with-logo">Room registration</span></li>
            <li class="parent-tab" id="btnOpenPackageRegistration"><i class="fas fa-gift"></i><span class="with-logo">Package registration</span></li>
            <li class="parent-tab" id="btnOpenReservation"><i class="fas fa-calendar-check"></i><span class="with-logo">Reservation</span></li>
            <li class="parent-tab" id="btnOpenBilling"><i class="fas fa-credit-card"></i><span class="with-logo">Billing</span></li>
            <li class="parent-tab" id="btnOpenReports"><i class="fas fa-chart-line"></i><span class="with-logo">Analytics & Reports</span></li>
        </section>
        <!-- <section id="eva-view">
            <div class="modelViewPort">
                <div class="eva">
                  <div class="head">
                    <div class="eyeChamber">
                      <div class="eye"></div>
                      <div class="eye"></div>
                    </div>
                  </div>
                  <div class="body">
                    <div class="hand"></div>
                    <div class="hand"></div>
                    <div class="scannerThing"></div>
                    <div class="scannerOrigin"></div>
                  </div>
                </div>
              </div>
        </section> -->
    </aside>
    <div class="nav-main">
        <nav class="nav-bar"><button id="btnLogOut">Logout</button>
        </nav>
        <main id="content-contain"><%- include(content) %></main>
    </div>



<script src="/script/guest-reg.js"></script>
<script src="/script/route.js"></script>
<script src="/script/villa-reg.js"></script>
<script src="/script/reservation.js"></script>
<script src="/script/room-reg.js"></script>
<script src="/script/package-reg.js"></script>
<script src="/script/billing.js"></script>
<script src="/script/reports.js"></script>


</body>
</html>