<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

<style type="text/css">
html,body{
	font-family: arial;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.form-container{
	height: 50%;
	width: 45%;
	background-color: white;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.32);
	z-index: 2;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0, 0, 0, 0.20);
	overflow: hidden;
	justify-content: center;

}
.form-container .part{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.form-container .right{
	background-color: rgba(58, 169, 245, 1);
	color: white;
	justify-content: center;

}
.form-container .right section{
	width: 100%;
	z-index: 1;
	font-size: 30px;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: 500;
}
.form-container .right section:nth-child(1){
	margin-top: 40px;
}
.form-container .right section:nth-child(2){
	font-weight: 700;
}
.form-container .right section:nth-child(3){
	font-weight: 700;
}
.form-container .right img{
	width: 80%;
	height: auto;
	margin-top: 10px;
}
.form-container .left div:nth-child(1){
	position: absolute;
	top: 40px;
	left: unset;
	font-family: arial;
	color: rgba(79, 79, 79, 1);
}
.form-container .left div:nth-child(1) h2 img{
	height: 25px;
	width: auto;
	margin-left: 9px;
	margin-top: 1px;
}
.form-container .left div:nth-child(2){
	margin-bottom: 10px;
}
.form-container .left div:nth-child(4){
	margin-top: 20px;
}
.form-container .left .row{
	width: calc(100% - 70px);
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
	position: relative;
}
.form-container .left .row .textbox{
	width: 100%;
	height: 30px;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	color: rgba(72, 72, 72, 1);
	font-family: arial;
	font-size: 14px;
	text-align: center;
}
.form-container .left .row button{
	width: 100%;
	height: calc(100% - 5px);
	cursor: pointer;
	background-color: rgba(58, 169, 245, 1);
	color: white;
	font-family: arial;
	font-weight: 600;
	font-size: 17px;
	border-radius: 2px;
	border: 1px solid white;
	box-shadow: 5px 5px 9px 1px rgba(84, 103, 116, 0.4);
	transition: background-color .1s;
}
.form-container .left .row button:hover{
	background-color: rgba(89, 186, 250, 1);
}
.form-container .left .row span{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 15px;
	color: rgba(72, 72, 72, 1);
	font-weight: 500;
}
.form-container .left .row2 img{
	height: 24px;
	width: auto;
	position: absolute;
	right: 0px;
	bottom: 3px;
	background-color: transparent;
	cursor: pointer;
}


@media (max-width:1460px){
	.form-container .right{
		width: 0%;
	}
	.form-container .left{
		width: 80%;
	}
}
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link href="https://cdn.datatables.net/v/dt/dt-2.2.1/datatables.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.2.1/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/fontawesome.min.js" integrity="sha512-j12pXc2gXZL/JZw5Mhi6LC7lkiXL0e2h+9ZWpqhniz0DkDrO01VNlBrG3LkPBn6DgG2b8CDjzJT+lxfocsS1Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="whole">
	<img src="/assets/pixelcut-export.jpeg">

	

		<div class="form-container">
			<div class="left part">
				<div class="row header">
					<h2>Login <img src="/assets/login.png"> </h2>
				</div>

				
				
				<div class="row row1">

					
					
					<span>Username</span>
					
					<input type="text"  class="textbox" id="txtUsername">
				</div>
				<div class="row row2">
					<span>Password</span>
					<input type="password"  class="textbox" id="txtPassword"><img src="/assets/hide_pass.png" id="switch1">
					<img src="/assets/show_pass.png" id="switch2" style="display: none;">
				</div>
				<div class="row row3">
					<button type="submit"id="btnLogin">Login</button>
				</div>

		
			</div>
			<div class="right part">
				<img src="/assets/right-png.png">
			</div>
		</div>

	


<script type="text/javascript">
	const swtch1 = document.getElementById('switch1');
	const swtch2 = document.getElementById('switch2');
	const pass = document.getElementById('txtPassword');
	const btnLogin = document.getElementById('btnLogin');

	swtch1.addEventListener('click', function(){
		pass.type = "text";
		this.style.display = "none"
		swtch2.style.display = "block"
	});
	swtch2.addEventListener('click', function(){
		pass.type = "Password";
		this.style.display = "none"
		swtch1.style.display = "block"
	});

	//btnLogin.addEventListener('click', function(){
		//window.location.href = 'index.html';
	//});


	$(document).on('click', '#btnLogin', function(e){
		e.preventDefault();
        e.stopImmediatePropagation();
		var username = $("#txtUsername").val();
		var user_password =$("#txtPassword").val();

		var userData = {"username":username, "user_password":user_password};
		var JSONuserData = JSON.stringify(userData);

		$.ajax({
			url:"http://localhost:3000/loginEnter",
			type:"POST",
			data:JSONuserData,
			contentType:'application/json',
			success:function(data3){
				window.location.href = '/';

			},
			error:function(xhr, status, error){

				alert(error);

			}

		});

	})
</script>
</body>

</html>