<div class="modal-add-booking">
    <section class="title"><span>Booking Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="booking-l-r">
        <div class="bookingtxt package-l">
            <section class="text-field row"><span>Select Guest</span>
                <select id="txtGuest" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <!--<option value="94916">Aubrie</option>
                    <option value="55192">Lex</option>
                    <option value="48643">Richard</option>-->
                </select>
            </section>
            <section class="text-field row"><span>Check-In Time</span><input type="datetime-local"  id="txtCheckIn" class="textbox"></section>
            <section class="text-field row"><span>Check-Out Time</span><input type="datetime-local" id="txtCheckOut" class="textbox"></section>

            <section class="text-field row"><span>Booking Type</span>

              <select id="txtBookingType" class="textbox">
                <option value="pending">PENDING</option>
                <option value="reserved">RESERVE</option>
              </select>
            
            </section>
        </div>
        <div class="bookingtxt package-r">
            <section class="text-field row"><span>No. of Pax</span><input type="number" id="txtNoPax" class="textbox" onkeyup="checkInputNumber(this.value)"></section>
            <section class="text-field row"><span>Select package</span>
                <select id="txtPackage" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <!--<option value="44373">Couple</option>
                    <option value="44386">Suite</option>-->
                </select>
            </section>
            <section class="text-field row">
              <span>Rate Type</span>
              <select id="rate_no" class="textbox">
                <option value="1">Holiday</option>
                <option value="2">Weekend</option>
              </select>
            </section>
            <section class="text-field row"><span>Special request</span><input type="text" id="txtSR" class="textbox"></section>
        </div>  
    </section>
    <button id="btnSubmitbooking">ADD BOOKING</button>
</div>

<!-- confirmation -->
<div class="modal-confirm-booking">
    <img src="/assets/question.png" alt="">
    <p>Do you want to confirm this booking?</p>
    <section><button id="btnCancelBooking">Cancel</button><button id="btnYesBooking">Yes</button></section>
 </div>


 <!-- Success -->

 <div class="modal-success-booking">
    <img src="/assets/success.png" alt="">
    <p>Booking registered successfully!</p>
 </div>



 <script>
var guestList = [];

$.ajax({
  type: "GET",
  url: "http://localhost:3000/GuestOption", // Your server endpoint URL
  success: function(data) {
    const jsonData = data.guest; // Parse the JSON string

    $.each(jsonData, function(index, guest) {
      guestList.push(guest);
    });

    // Display the villa list in a loop using HTML
    for (var i = 0; i < guestList.length; i++) {

      var guest_id = guestList[i].guest_id;
      var full_name = guestList[i].full_name;
      

      var data_guest = `<option vlaue = ${guest_id}>${guest_id} ${full_name}</option> `;

      $('#txtGuest').append(data_guest);
      
    }

    
  },
  error: function(xhr, status, err) {
    console.error('Error:', err);
  }
});



/*_______PACKAGE OPTIONS___________
var packageList = [];

$.ajax({
  type: "GET",
  url: "http://localhost:3000/packages", // Your server endpoint URL
  success: function(data) {
    const jsonData = data.package; // Parse the JSON string

    $.each(jsonData, function(index, package) {
      packageList.push(package);
    });

    // Display the villa list in a loop using HTML
    for (var x = 0; x < packageList.length; x++) {

      var package_name = packageList[x].package_name;
      var package_code = packageList[x].package_code;
      var room_id = packageList[x].room_id;

      var data_package = `<option value = ${package_code}>${package_name+" "+room_id}</option>`;

      $('#txtPackage').append(data_package);
      
    }

    
  },
  error: function(xhr, status, err) {
    console.error('Error:', err);
  }
});

_______PACKAGE OPTIONS___________*/


//______CHANGE PACKAGES DEPENDING ON PAX INPUT_____


/*$("#txtNoPax").change(function(){

  var pax = $(this).val();
  console.log(pax);
  var guestData ={"pax":pax};
  var JSONguestData = JSON.stringify(guestData);
  
  $.ajax({
                    url:"http://localhost:3000/changePackage",
                    type:"POST",
                    data:JSONguestData,
                    contentType:'application/json',
                    success: function(data2){

                          const jsonData = data2.package_set; // Parse the JSON string

                          $.each(jsonData, function(index, package) {
                            packageList2.push(package);
                          });

                          // Display the villa list in a loop using HTML
                          for (var x = 0; x < packageList2.length; x++) {

                            var package_name = packageList2[x].package_name;
                            var package_code = packageList2[x].package_code;
                            var room_id = packageList2[x].room_id;

                            var data_package = `<option value = ${package_code}>${package_name+" "+room_id}</option>`;

                            $('#txtPackage').append(data_package);
                            
                          }
                    
                    },
                    
                    error: function(xhr, status, error){
                        alert(error);
                    }

                })

});*/


function checkInputNumber(paxNo){
  $('#txtPackage').html("");

  var packageList2 = [];

  
  //var pax = $(this).val();
  var pax = paxNo;
  console.log(pax);
  var guestData ={"pax":pax};
  var JSONguestData = JSON.stringify(guestData);
  
  $.ajax({
                    url:"http://localhost:3000/changePackage",
                    type:"POST",
                    data:JSONguestData,
                    contentType:'application/json',
                    success: function(data2){

                          const jsonData = data2.package_set; // Parse the JSON string

                          $.each(jsonData, function(index, package) {
                            packageList2.push(package);
                          });

                          // Display the villa list in a loop using HTML
                          for (var x = 0; x < packageList2.length; x++) {

                            var package_name = packageList2[x].package_name;
                            var package_code = packageList2[x].package_code;
                            var room_id = packageList2[x].room_id;

                            var data_package = `<option value = ${package_code}>${package_name+" "+room_id}</option>`;

                            $('#txtPackage').append(data_package);
                            
                          }

                          console.log(packageList2);
                    
                    },
                    
                    error: function(xhr, status, error){
                        alert(error);
                    }

                })

}




//______CHANGE PACKAGES DEPENDING ON PAX INPUT_____



//__________SET DEFAULT 2:00PM__________________

const today1 = new Date();
const year1 = today1.getFullYear();
const month1 = String(today1.getMonth() + 1).padStart(2, '0');
const day1 = String(today1.getDate()).padStart(2, '0');

// Set time to 14:00 (2:00 PM)
const defaultDateTimeCheckIn = `${year1}-${month1}-${day1}T13:00`;
const defaultDateTimeCheckOut = `${year1}-${month1}-${day1}T11:00`;

// Set the value
$('#txtCheckIn').val(defaultDateTimeCheckIn);
$('#txtCheckOut').val(defaultDateTimeCheckOut);

//__________SET DEFAULT 2:00PM__________________


 </script>