<div class="modal-add-package">
    <section class="title"><span>Package Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="package-l-r">
        <div class="packagetxt package-l">
            <section class="text-field row"><span>Package name</span><input type="text" id="txtPackageName" class="textbox"></section>
            <section class="text-field row"><span>Package rate</span><input type="text" id="txtPackageRate" class="textbox"></section>
            <section class="text-field row"><span>Location</span>
                <select id="txtPackageLocation" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">1st Floor</option>
                    <option value="2nd Floor">2nd Floor</option>
                    <option value="3rd Floor">3rd Floor</option>
                    <option value="WHOLE VILLA">WHOLE VILLA</option>
                </select>
            </section>
            <section class="text-field row"><span>Number of people</span><input type="text" id="txtNoPax" class="textbox"></section>
        </div>
        <div class="packagetxt package-r">
            <section class="text-field row"><span>Accomodation type</span>
                <select id="txtAccomodation" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="room">Room</option>
                    <option value="villa">Villa</option>
                    
                </select>
            </section>
            <!--<section class="text-field row"><span>Room ID</span><input type="text" id="txtFullName" class="textbox"></section>-->
            <section class="text-field row"><span>Room ID</span>
                
                
                <!-- js-example-basic-multiple -->
                <select id="txtRoomID" class="textbox"> 
                    <option value="" disabled hidden selected>--Select room--</option>
                    <!--<option value="ROOM 101">ROOM 101</option>
                    <option value="ROOM 102">ROOM 102</option>
                    <option value="ROOM 103">ROOM 103</option>-->
                </select>
                <div id="tag-container">
                    <p>Rooms <i class="fas fa-door-open"></i></p>
                    <section id="selected-rooms">
                            <!-- selected rooms -->
                    </section>
                </div>
            
            </section>
            <section class="text-field row"><span>Number of rooms</span><input type="text" id="txtNoRooms" class="textbox"></section>
            <section class="text-field row"><span>Status</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </section>
        </div>  
    </section>
    <button id="btnSubmitPackage">ADD PACKAGE</button>
</div>

<div class="modal-success-package">
    <img src="/assets/success.png" alt="">
    <p>Package registered successfully!</p>
 </div>


 <script>
      //__________GET ROOM LIST______________

            var roomlist = [];

                
            
            $.ajax({
                type: "GET",
                url: "http://localhost:3000/roomList", // Your server endpoint URL
                success: function(data) {
                
                const jsonData = data.room; // Parse the JSON string
                

                $.each(jsonData, function(index, room) {
                    roomlist.push(room);
                });

                // Display the villa list in a loop using HTML
                for (var i = 0; i < roomlist.length; i++) {


                    var room_id = roomlist[i].room_id;
                    var room_name = roomlist[i].room_name;
                    console.log(room_id)

                    var data_room = `

                    <option value=${room_name.replace(/\s/g, '')}>${room_name}</option>
                    
                    `;

                    $('#txtRoomID').append(data_room);
                    
                }

                console.log("static list")

                console.log(roomlist[1].room_name)

                //var packageTable = new DataTable('#packageTable');
                },
                error: function(xhr, status, err) {
                console.error('Error:', err);
                }
            });



            //__________GET ROOM LIST______________

 </script>

