<div class="modal-view-details">
    <section class="title"><span>Reservation Details</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="detail-row">
        <div class="detail-lr detail-left"><span class="label">Guest:</span><span class="detail-data" id="full_name"></span></div>
        <div class="detail-lr detail-right"><span class="label">Check-In:</span><span class="detail-data" id="check_in_datetime"></span></div>
    </section>

    <section class="detail-row">
        <div class="detail-lr detail-left"><span class="label">Guest ID:</span><span class="detail-data" id="guest_id"></span></div>
        <div class="detail-lr detail-right"><span class="label">Check-Out:</span><span class="detail-data" id="check_out_datetime"></span></div>
    </section>

    <section class="detail-row">
        <div class="detail-lr detail-left"><span class="label">Transaction ID:</span><span class="detail-data" id="transaction_id2"></span></div>
        <div class="detail-lr detail-right"><span class="label">Length of stay:</span><span class="detail-data" id="length_stay"></span></div>
    </section>

    <section class="detail-row">
        <div class="detail-lr detail-left"><span class="label">Package Availed:</span><span class="detail-data" id="package"></span></div>
        <div class="detail-lr detail-right"><span class="label">Current Bill:</span><span class="detail-data" id="currbill"></span></div>
        <input type="hidden" id="package_selected">
        <input type="hidden" id="transaction_id3">
        <input type="hidden" id="package_name_val">
        <input type="hidden" id="guest_status_2">
        <input type="hidden" id="addonsSum">
    </section>

    <section class="detail-row">
        <div class="detail-lr detail-left"><span class="label">Guest Status:</span><span class="detail-data" id="guest_status"></span></div>
        <div class="detail-lr detail-right"><span class="label">Current stay:</span><span class="detail-data" id="currstay"></span></div>
    </section>


    <section class="detail-action first-da new-da">
                

        <input type="hidden" id="transaction_text">

        <input type="text" class="add-ons-textbox" id="addons_description" placeholder="Add-ons">
        <input type="number" class="add-ons-textbox" id="addons_amount" placeholder="Addons Amount">
        <textarea name="" id="addons_remarks" class="add-ons-textbox" placeholder="Remarks..."></textarea>
        <button id="btnSubmitAddOns"><i class="fas fa-paper-plane"></i>Submit</button>

    </section>



    <section class="detail-action new-da">
   
        <input type="number" name="" id="adjustment_amount" class="adjustment-textbox" placeholder="Amount adjustment...">
        <select class="adjustment-textbox" id="adjustment_type">
            <option value="" selected hidden>Select--</option>
            <option value="add">Add</option>
            <option value="minus">Minus</option>
        </select>
        <textarea name="" id="adjustment_remarks" class="adjustment-textbox" placeholder="Remarks..."></textarea>
        <button id="btnSubmitAdjustmentDetails"><i class="fas fa-paper-plane"></i>Submit</button>

    </section>


    <section class="detail-action">
        <div class="selecttags">
            <select id="selectGuestStatus">
                <option value="" hidden disabled selected>--Select status--</option>
                <option value="PENDING">Pending</option>
                <option value="CONFIRMED">Confirm</option>
                <option value="CHECKED_IN">Checked-In</option>
                <option value="CHECKED_OUT">Checked-Out</option>
                <option value="CANCELLED">Cancel</option>
                <option value="CLEANING">Clean</option>
            </select>
            <select id="selectPackage">
                <option value="" hidden disabled selected>--Select package--</option>
                <!--<option value="">49643</option>-->
            </select>
        </div>
        <button id="btnUpdateChanges"><i class="fas fa-save"></i>Save</button>
        <button id="btnCheckBill"><i class="fas fa-receipt"></i>Check bill</button>

    </section>
</div>

<div class="modal-confirm-save-changes">
    <img src="/assets/question.png" alt="">
    <p>Do you want to confirm this changes?</p>
    <section><button id="btnCancelChanges">Cancel</button><button id="btnYesChanges">Yes</button></section>
</div>

<div class="modal-success-save-changes">
    <img src="/assets/success.png" alt="">
    <p>Changes saved successfully!</p>
</div>

<script>


$('#btnCheckBill').on("click", function(e){
            e.preventDefault();
            e.stopImmediatePropagation();

            var package = $('#package_selected').val();
            var transaction_id2= $('#transaction_id3').val();
            //alert(package);
            var txt = JSON.stringify({"package":package, "transaction_id2":transaction_id2})

            $.ajax({
                url:"http://localhost:3000/UpdateBill",
                type:"POST",
                data:txt,
                contentType:'application/json',
                success:function(data1){
                 var currList = [];
                 var addOnsList = [];

                 const jsonData = data1.current_status;
                 const jsonDataAddons = data1.add_ons_sum;

                 $("#addonsSum").val(jsonDataAddons[0].SUMADDONS)

                 $.each(jsonData, function(index, currStats) {
                    currList.push(currStats);
                });


           

                for (var i = 0; i < currList.length; i++) {
                    var current_bill = currList[i].current_bill;
                    var current_stay = currList[i].current_stay;

                }

                

                $("#currbill").html(Number(current_bill)+Number($("#addonsSum").val()));

              if(current_stay<0){

                $("#currstay").html(Math.abs(current_stay)+" "+"Day/s Before Check-In Day");

              }

              else{

                $("#currstay").html(current_stay+" "+"Day/s");

              }

              
              


                },

                error:function(xhr, status, error){
                    alert(error);
                }
            });

            //alert("it worked")

        });


        $(document).on('click', '#btnCancelChanges', function(){
            $('.modal-confirm-save-changes').fadeOut(100, function(){
                $('.modal-view-details').css('display', 'flex').hide().fadeIn(100);
            });
        });



        $('#btnUpdateChanges').on("click", function(e){

            $('.modal-view-details').fadeOut(100, function() {
            $('.modal-confirm-save-changes')
                .css('display', 'flex')
                .hide()
                .fadeIn(100);
            });

        });

        $(document).on('click', '#btnYesChanges', function(e){
            e.preventDefault();
            e.stopImmediatePropagation();
            var guest_status = $("#selectGuestStatus").val();
            var transaction_id2 = $("#transaction_id3").val();
            var package = $('#package_selected').val();
            var txt = JSON.stringify({"guest_status":guest_status, "transaction_id2":transaction_id2, "package_code":package});
            console.log(txt);
                
            $.ajax({
                    url:"http://localhost:3000/UpdateGuestTable",
                    type:"POST",
                    data:txt,
                    contentType:'application/json',
                    success: function(data){
                      
                        
                        $('.modal-confirm-save-changes').fadeOut(100, function() {
                            $('.modal-success-save-changes')
                                .css('display', 'flex')
                                .hide()
                                .fadeIn(100);
                        });

                        setTimeout(function() {
                            $('#modal-handler .modal-success-save-changes').fadeOut();
                            $('#modal-handler').fadeOut();
                            $('#UpdateGuest')[0].reset();
                        }, 2000);

                    },
                    
                    error: function(xhr, status, error){
                        alert(error);
                    }

                })

        });



        $(document).on('click', '#btnSubmitAddOns', function(e){
                    e.preventDefault();
                    e.stopImmediatePropagation();

                    const addons_data = {
                        "addons_remarks":$("#addons_remarks").val(),
                        "addons_amount":$("#addons_amount").val(),
                        "addons_description":$("#addons_description").val(),
                        "transaction_id2":$("#transaction_text").val()
                    }

                    var jsonAddons = JSON.stringify(addons_data);

                    $.ajax({
                        url:"http://localhost:3000/addons",
                        type:"POST",
                        data:jsonAddons,
                        contentType:'application/json',
                        success:function(data){
                            $('.modal-confirm-save-changes').fadeOut(100, function() {
                            $('.modal-success-save-changes')
                                .css('display', 'flex')
                                .hide()
                                .fadeIn(100);
                        });

                        setTimeout(function() {
                            $('#modal-handler .modal-success-save-changes').fadeOut();
                            $('#modal-handler').fadeOut();
                            $('#UpdateGuest')[0].reset();
                        }, 2000);


                        },
                        error:function(xhr, err){
                            alert(err)
                        }

                    })

});



$(document).on('click', '#btnSubmitAdjustmentDetails', function(e){
    e.preventDefault();
    e.stopImmediatePropagation();


    const adjustment_amount = $("#adjustment_amount").val();
    const adjustment_type = $("#adjustment_type").val();
    const adjustment_remarks = $("#adjustment_remarks").val();
    const transaction_text = $("#transaction_text").val();

    const adjustment_data = {
        "adjustment_amount":adjustment_amount,
        "adjustment_type":adjustment_type,
        "adjustment_remarks":adjustment_remarks,
        "transaction_text":transaction_text
    }

    var jsonAdjustments = JSON.stringify(adjustment_data);

    $.ajax({
        url:"http://localhost:3000/UpdateGuestBilNotFinal",
        type:"POST",
        data:jsonAdjustments,
        contentType:'application/json',
        success:function(data){
            
            $('.modal-confirm-save-changes').fadeOut(100, function() {
                            $('.modal-success-save-changes')
                                .css('display', 'flex')
                                .hide()
                                .fadeIn(100);
                        });

                        setTimeout(function() {
                            $('#modal-handler .modal-success-save-changes').fadeOut();
                            $('#modal-handler').fadeOut();
                            $('#UpdateGuest')[0].reset();
                        }, 2000);


        },

        error:function(xhr, err){
            alert(err);
        }

    });
})
 

</script>