<button class="btncontroller" id="btnPrevBillingPhase"><img src="/assets/previous.png" alt=""></button>
<div class="modal-billing-container">
    <section class="title"><span id="billing-modal-title">Details</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <div class="slideface billing-details">
        <section class="detail-row">
            <div class="detail-lr detail-left"><span class="label">Guest:</span><input type="text" class="billingdTextField" id="guestID" readonly></span></div>
            <div class="detail-lr detail-right"><span class="label">Check-In:</span><input type="text" class="billingdTextField" readonly id="checkinID"></div>
        </section>

        <section class="detail-row">
            <div class="detail-lr detail-left"><span class="label">Guest ID:</span><input type="text" class="billingdTextField" id="guestIDID" readonly></span></div>
            <div class="detail-lr detail-right"><span class="label">Check-Out:</span><input type="text" class="billingdTextField" id="checkoutID" readonly></div>
        </section>

        <section class="detail-row">
            <div class="detail-lr detail-left"><span class="label">Transaction ID:</span><input type="text" class="billingdTextField" id="transactionID"></span></div>
            <div class="detail-lr detail-right"><span class="label">Length of stay:</span><input type="text" class="billingdTextField" readonly id="losID"></span></div>
        </section>

        <section class="detail-row">
            <div class="detail-lr detail-left"><span class="label">Package Availed:</span><input type="text" class="billingdTextField" id ="packagedAvailedID"></div>
            <div class="detail-lr detail-right"><span class="label">Current Bill:</span><input type="text" class="billingdTextField" id="currentbillID" readonly></div>
            <input type="hidden" id="package_selected">
            <input type="hidden" id="transaction_id3">
            <input type="hidden" id="package_name_val">
            <input type="hidden" id="guest_status_2">
        </section>

        <section class="detail-row">
            <div class="detail-lr detail-left"><span class="label">Guest Status:</span><input type="text" class="billingdTextField" id="gueststatusID" readonly></span></div>
            <div class="detail-lr detail-right"><span class="label">Current stay:</span><input type="text" class="billingdTextField" id="currentstayID" readonly></div>
        </section>

<!--<button id="btnCheckBill"><i class="fas fa-receipt"></i>Check bill</button>-->
<button id="printBill">Print bill</button>

        
    </div>



    <div class="slideface billing-add-ons">
        <table>
            <thead>
              <tr>
                <th>Add ons</th>
                <th>Amount</th>
                <th>Remarks</th>
                <th>Date</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id = "addonsBody">
 
            </tbody>
          </table>
            <section class="add-ons-row">

                <input type="text" class="add-ons-textbox" id="addons_description" placeholder="Add-ons">
                <input type="number" class="add-ons-textbox" id="addons_amount" placeholder="Addons Amount">
                <textarea name="" id="addons_remarks" class="add-ons-textbox" placeholder="Remarks..."></textarea>
                <button id="btnSubmitAddOns">Submit</button>

            </section>
    </div>
    <div class="slideface billing-discounts">

        <table>
            <thead>
              <tr>
                <th>Discount Type</th>
                <th>Discount Value</th>
                <th>Transaction ID</th>
                <th>Time Encoding</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="discountBody">

            </tbody>
          </table>
           
          <section class="discounts-row">
            
        </section>
        <section class="discounts-row">

            <input type="hidden" id="transaction_number">
            
            <select class="discounts-textbox" id="discount_type">
                
                <option value="" selected hidden>Select discount--</option>
                <option value="senior">Senior</option>
                <option value="pwd">PWD</option>
                <option value="personalDiscount">General Discount</option>
            </select>

            <textarea class="discounts-textbox" id = "discount_remarks"></textarea>
           
            <button id="btnSubmitDiscount">Submit</button>

        </section>

       
    </div>

    <div class="slideface billing-adjustment">
        <table>
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Adjustment Type</th>
                <th>Adjusment Amount</th>
                <th>Adjustment Remarks</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody id="adjustmentBody">
         
            </tbody>
          </table>
        <section class="adjustment-row">
            <input type="hidden" id="transaction_text">
            <input type="number" name="" id="adjustment_amount" class="adjustment-textbox" placeholder="Amount...">
            <select class="adjustment-textbox" id="adjustment_type">
                <option value="" selected hidden>Selecta--</option>
                <option value="add">Add</option>
                <option value="minus">Minus</option>
            </select>
            <textarea name="" id="adjustment_remarks" class="adjustment-textbox" placeholder="Remarks..."></textarea>
            <button id="btnSubmitAdjustment">Submit</button>

        </section>
    </div>
</div>
<button class="btncontroller" id="btnNextBillingPhase"><img src="/assets/next.png" alt=""></button>

<div class="modal-confirm-billing-changes">
    <img src="/assets/question.png" alt="">
    <p id="billing-message">Do you want to confirm this changes?</p>
    <section><button id="btnCancelBillingChanges">Cancel</button><button id="btnYesBillingChanges">Yes</button></section>
</div>

<div class="modal-success-billing-changes">
    <img src="/assets/success.png" alt="">
    <p id="billing-success-message">Changes saved successfully!</p>
</div>

<script>
  $('#btnCheckBill').on("click", function(e){
            e.preventDefault();
            e.stopImmediatePropagation();

            var package = $('#packagedAvailedID').val();
            var transaction_id2= $('#transactionID').val();
            //alert(package);
            var txt = JSON.stringify({"package":package, "transaction_id2":transaction_id2})

            $.ajax({
                url:"http://localhost:3000/UpdateBill2",
                type:"POST",
                data:txt,
                contentType:'application/json',
                success:function(data1){
                    alert("Bill Updated")

                },

                error:function(xhr, status, error){
                    alert(error);
                }
            });

            //alert("it worked")

        });



         $('#printBill').on("click",function(e){
            e.preventDefault();
            e.stopImmediatePropagation();

            var transaction_id2= $('#transactionID').val();
            //alert(package);
            var txt = JSON.stringify({"transaction_id2":transaction_id2})

            $.ajax({
                url:"http://localhost:3000/dataForPrintBilling",
                type:"POST",
                data:txt,
                contentType:'application/json',
                success:function(data1){
                   // window.location.href = "/modal-billing-print";
                   $('#content-contain').html(data1);
                   //console.log(data1.dataForPrint);
                 


                },

                error:function(xhr, status, error){
                    alert(error);
                }
            });

            //alert("it worked")

        });
    
 
</script>
