<div class="modal-guest-reg">
    <section class="title"><span>Guest Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="text-field row"><span>Fullname</span><input type="text" id="txtFullName" class="textbox"></section>
    <section class="text-field row"><span>Contact</span><input type="number" id="txtContact" class="textbox"></section>
    <section class="text-field row"><span>Email</span><input type="email" id="txtEmail" class="textbox"></section>
    <section class="text-field row"><span>Age</span><input type="number" id="txtAge" class="textbox"></section>
    <button id="btnSubmitGuest">Submit</button>
</div>