<div class="modal-add-package">
    <section class="title"><span>Package Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="package-l-r">
        <div class="packagetxt package-l">
            <section class="text-field row"><span>Package name</span><input type="text" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Package rate</span><input type="text" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Location</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">1st Floor</option>
                    <option value="2nd Floor">2nd Floor</option>
                    <option value="3rd Floor">3rd Floor</option>
                </select>
            </section>
            <section class="text-field row"><span>Number of people</span><input type="text" id="txtFullName" class="textbox"></section>
        </div>
        <div class="packagetxt package-r">
            <section class="text-field row"><span>Accomodation type</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">1st Floor</option>
                    <option value="2nd Floor">2nd Floor</option>
                    <option value="3rd Floor">3rd Floor</option>
                </select>
            </section>
            <section class="text-field row"><span>Room ID</span><input type="text" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Number of rooms</span><input type="text" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Status</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">Active</option>
                    <option value="2nd Floor">Inactive</option>
                </select>
            </section>
        </div>  
    </section>
    <button id="btnSubmitPackage">ADD PACKAGE</button>
</div>


<div class="modal-success-package">
    <img src="/assets/success.png" alt="">
    <p>Package registered successfully!</p>
 </div>