<div class="modal-add-room">
    <section class="title"><span>Room Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="text-field row"><span>Room Name</span><input type="text" id="txtVillaName" class="textbox"></section>
    <section class="text-field row"><span>Room Location</span>
        <select id="txtVillaStatus" class="textbox">
            <option value="" disabled hidden selected></option>
            <option value="1st Floor">1st Floor</option>
            <option value="2nd Floor">2nd Floor</option>
            <option value="3rd Floor">3rd Floor</option>
        </select>
    </section>
    <section class="text-field row"><span>Room Status</span>
        <select id="txtVillaColor" class="textbox">
            <option value="" disabled hidden selected></option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
           
        </select>
    </section>
    <button id="btnSubmitRoom">ADD ROOM</button>
</div>

<div class="modal-success-room">
    <img src="/assets/success.png" alt="">
    <p>Room registered successfully!</p>
 </div>