<div class="modal-add-booking">
    <section class="title"><span>Booking Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="booking-l-r">
        <div class="bookingtxt package-l">
            <section class="text-field row"><span>Select Guest</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">1st Floor</option>
                    <option value="2nd Floor">2nd Floor</option>
                    <option value="3rd Floor">3rd Floor</option>
                </select>
            </section>
            <section class="text-field row"><span>Check-In Time</span><input type="datetime-local" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Check-Out Time</span><input type="datetime-local" id="txtFullName" class="textbox"></section>
        </div>
        <div class="bookingtxt package-r">
            <section class="text-field row"><span>No. of Pax</span><input type="text" id="txtFullName" class="textbox"></section>
            <section class="text-field row"><span>Select package</span>
                <select id="txtVillaStatus" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="1st Floor">Active</option>
                    <option value="2nd Floor">Inactive</option>
                </select>
            </section>
            <section class="text-field row"><span>Special request</span><input type="text" id="txtFullName" class="textbox"></section>
        </div>  
    </section>
    <button id="btnSubmitbooking">ADD BOOKING</button>
</div>



<!-- confirmation -->
<div class="modal-confirm-booking">
    <img src="/assets/question.png" alt="">
    <p>Do you want to confirm this booking?</p>
    <section><button id="btnCancelBooking">Cancel</button><button id="btnYesBooking">Yes</button></section>
 </div>


 <!-- Success -->

 <div class="modal-success-booking">
    <img src="/assets/success.png" alt="">
    <p>Booking registered successfully!</p>
 </div>

