<div class="modal-add-villa">
    <section class="title"><span>Villa Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="text-field row"><span>Villa Name</span><input type="text" id="txtVillaName" class="textbox"></section>
    <section class="text-field row"><span>Villa Status</span>
        <select id="txtVillaStatus" class="textbox">
            <option value="" disabled hidden selected></option>
            <option value="Available">Available</option>
            <option value="Occupied">Occupied</option>
        </select>
    </section>
    <section class="text-field row"><span>Villa Color</span>
        <select id="txtVillaColor" class="textbox">
            <option value="" disabled hidden selected></option>
            <option value="1b3f67">Color 1</option>
            <option value="00a397">Color 2</option>
            <option value="91004c">Color 2</option>
        </select>
    </section>
    <button id="btnSubmitVilla">ADD VILLA</button>
</div>

<div class="modal-success-villa">
    <img src="/assets/success.png" alt="">
    <p>Villa registered successfully!</p>
 </div>