<div class="modal-add-booking">
    <section class="title"><span>Booking Registration</span><button id="btnCloseModal" class="fas fa-times"></button></section>
    <section class="booking-l-r">
        <div class="bookingtxt package-l">
            <section class="text-field row"><span>Select Guest</span>
                <select id="txtGuest" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="94916">Aubrie</option>
                    <option value="55192">Lex</option>
                    <option value="48643">Richard</option>
                </select>
            </section>
            <section class="text-field row"><span>Check-In Time</span><input type="datetime-local" id="txtCheckIn" class="textbox"></section>
            <section class="text-field row"><span>Check-Out Time</span><input type="datetime-local" id="txtCheckOut" class="textbox"></section>
        </div>
        <div class="bookingtxt package-r">
            <section class="text-field row"><span>No. of Pax</span><input type="text" id="txtNoPax" class="textbox"></section>
            <section class="text-field row"><span>Select package</span>
                <select id="txtPackage" class="textbox">
                    <option value="" disabled hidden selected></option>
                    <option value="44373">Couple</option>
                    <option value="44386">Suite</option>
                </select>
            </section>
            <section class="text-field row"><span>Special request</span><input type="text" id="txtSR" class="textbox"></section>
        </div>  
    </section>
    <button id="btnSubmitbooking">ADD BOOKING</button>
</div>

<!-- confirmation -->
<div class="modal-confirm-booking">
    <img src="/assets/question.png" alt="">
    <p>Do you want to confirm this booking?</p>
    <section><button id="btnCancelBooking">Cancel</button><button id="btnYesBooking">Yes</button></section>
 </div>


 <!-- Success -->

 <div class="modal-success-booking">
    <img src="/assets/success.png" alt="">
    <p>Booking registered successfully!</p>
 </div>