<div class="package-reg-page">
    <main class="package-content">
        <section class="package-action">
            <button id="btnOpenAddpackage"><i class="fas fa-plus"></i>&nbsp;PACKAGE</button>
        </section>

        <section class="package-table">
            <table>
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Location</th>
                        <th>Rooms</th>
                        <th>No. of Rooms</th>
                        <th>No. of Person</th>
                        <th>Package Rate</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Package 1</td>
                        <td>1st Floor</td>
                        <td>Room 104</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3300</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Package 2</td>
                        <td>2nd Floor</td>
                        <td>Room 204</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3400</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Package 3</td>
                        <td>3rd Floor</td>
                        <td>Room 304</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3300</td>
                        <td>Active</td>
                    </tr>
                </tbody>
                
            </table>
        </section>
    </main>
</div>