<div class="report-page">
    <div class="a-r-section">
        <span class="a-r-tab" id="btn-ar-analytics">Analytics</span>
        <span class="a-r-tab" id="btn-ar-reports">Reports</span>
        <div class="a-r-slider"></div>
    </div>
    <div class="a-r-content">
        <div class="analytics-content ar-sub-con">

        </div>
        <div class="reports-content ar-sub-con">

        </div>
    </div>
    <!-- <div class="a-row">
        <div class="line-chart">

        </div>
        <div class="pie-chart">

        </div>
    </div> -->
</div>