<div class="report-page">
    <div class="a-r-section">
        <span class="a-r-tab" id="btn-ar-analytics">Analytics</span>
        <span class="a-r-tab" id="btn-ar-reports">Reports</span>
        <div class="a-r-slider"></div>
    </div>
    <div class="a-r-content">
        <div class="analytics-content ar-sub-con">
            <canvas class="analytics-cnv"></canvas>
            <canvas class="analytics-cnv"></canvas>
            <canvas class="analytics-cnv"></canvas>
            <canvas class="analytics-cnv"></canvas> 
        </div>
        <div class="reports-content ar-sub-con">

        </div>
    </div>
</div>