

<div class="reservation-page">
   <nav class="nav-slider">
        <div class="nav-tabs">
            <span id="res-calendar">Calendar</span>
            <span id="res-reservation">Reservation</span>
            <span class="slider-obj"></span>
        </div>
   </nav>

   <div class="page-container">
    <div class="page page-calendar">
        <section><button id="btnAddBooking"><i class="fas fa-plus"></i>&nbsp;ADD BOOKING</button></section>
        <div id="calendar"></div>
    </div>
    <div class="page page-reservation">
        <section><input type="text" id="txtSearchBooking"></section>
        <section class="reservation">
            <table>
                <thead>
                    <tr>
                        <th>Guest ID</th>
                        <th>Name</th>
                        <th>Check IN</th>
                        <th>Check OUT</th>
                        <th>Length of Stay</th>
                        <th>Guest Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="guestBody">
                   <!--<tr>
                        <td>Package 1</td>
                        <td>1st Floor</td>
                        <td>Room 104</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3300</td>
                        <td>Active</td>
                        <td><a href="#">View details</a></td>
                    </tr>
                    <tr>
                        <td>Package 2</td>
                        <td>2nd Floor</td>
                        <td>Room 204</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3400</td>
                        <td>Active</td>
                        <td><a href="#">View details</a></td>
                    </tr>-->
                </tbody>
                
            </table>
        </section>
    </div>
</div>
</div>

<script>

var guestList1 = [];

$.ajax({
    type:"GET",
    url:"http://localhost:3000/GuestTable",
    success:function(data){
        const jsonData = data.guest;

        $.each(jsonData, function(index, guest) {
            guestList1.push(guest);
          });

          for (var x = 0; x < guestList1.length; x++) {

                var guest_id = guestList1[x].guest_id;
                var full_name = guestList1[x].full_name;
                var check_in_datetime = new Date(Number(guestList1[x].check_in_datetime));
                var check_out_datetime = new Date(Number(guestList1[x].check_out_datetime));
                var length_stay = guestList1[x].length_stay;
                var guest_status = guestList1[x].guest_status.toUpperCase();
                var transaction_id2 = guestList1[x].transaction_id2;



                var guestData = `
                        <tr>
                        <td>${guest_id}</td>
                        <td>${full_name}</td>
                        <td>${check_in_datetime}</td>
                        <td>${check_out_datetime}</td>
                        <td>${length_stay} Day/s</td>
                        <td>${guest_status}</td>
                        <td><a href="#" data-page=${transaction_id2} class="atag">View details</a></td>
                        </tr>
                        
                        `;

                        $('#guestBody').append(guestData);



                }

    },

    error:function(xhr, err){

        console.error("Error:", err)

    }


});




    
   

</script>