<div class="reservation-page">
   <nav class="nav-slider">
        <div class="nav-tabs">
            <span id="res-calendar">Calendar</span>
            <span id="res-reservation">Reservation</span>
            <span class="slider-obj"></span>
        </div>
   </nav>

   <div class="page-container">
    <div class="page page-calendar">
        <section><button id="btnAddBooking"><i class="fas fa-plus"></i>&nbsp;ADD BOOKING</button></section>
        <div id="calendar-fullCalendar"></div>
        
    </div>
    <div class="page page-reservation">
        <section><input type="text" id="txtSearchBooking" placeholder="Search..."> <i class="fas fa-search"></i></section>
        <section class="reservation">
            <table>
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Location</th>
                        <th>Rooms</th>
                        <th>No. of Rooms</th>
                        <th>No. of Person</th>
                        <th>Package Rate</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Package 1</td>
                        <td>1st Floor</td>
                        <td>Room 104</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3300</td>
                        <td>Active</td>
                        <td><a href="#">View details</a></td>
                    </tr>
                    <tr>
                        <td>Package 2</td>
                        <td>2nd Floor</td>
                        <td>Room 204</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3400</td>
                        <td>Active</td>
                        <td><a href="#">View details</a></td>
                    </tr>
                </tbody>
                
            </table>
        </section>
    </div>
</div>
</div>