<div class="room-registration-page">
    <main class="room-content">
        <section class="room-action">
            <button id="btnOpenAddRoom"><i class="fas fa-plus"></i>ADD ROOM</button>
        </section>

        <section class="room-table">
            <table>
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="roomBody">
                    <!--<tr>
                        <td>Room 1</td>
                        <td>1st Floor</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Room 2</td>
                        <td>1st Floor</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Room 3</td>
                        <td>1st Floor</td>
                        <td>Inactive</td>
                    </tr>-->
                </tbody>
                
            </table>
        </section>
    </main>
</div>

<script>
    $(document).ready(function() {

        var roomList = [];

        $.ajax({
        type: "GET",
        url: "http://localhost:3000/rooms", // Your server endpoint URL
        success: function(data) {
            const jsonData = data.rooms // Parse the JSON string

            $.each(jsonData, function(index, room) {
            roomList.push(room);
            });

            // Display the villa list in a loop using HTML
            for (var i = 0; i < roomList.length; i++) {

            var room_name = roomList[i].room_name;
            var location = roomList[i].location;
            var room_id = roomList[i].room_id;
            //var room_status = roomList[i].room_status;

            if(roomList[i].room_status == "active"){

                var room_status = "Active"

            }

            else if(roomList[i].room_status=="inactive"){

                var room_status = "Inactive"

            }

            var data_room = `
            <tr>

                <td>${room_name}</td>
                <td>${location}</td>
                <td>${room_status}</td>
                <td><button id = "DeleteRoom" value=${room_id}>Delete</button></td>
                
            </tr>
            
            `;

            $('#roomBody').append(data_room);
        
            }

           // var roomView = new DataTable("#roomTable");
        },
        error: function(xhr, status, err) {
            console.error('Error:', err);
        }
        });

    });
</script>