<div class="room-registration-page">
    <main class="room-content">
        <section class="room-action">
            <button id="btnOpenAddRoom"><i class="fas fa-plus"></i>ADD ROOM</button>
        </section>

        <section class="room-table">
            <table>
                <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Room 1</td>
                        <td>1st Floor</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Room 2</td>
                        <td>1st Floor</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Room 3</td>
                        <td>1st Floor</td>
                        <td>Inactive</td>
                    </tr>
                </tbody>
                
            </table>
        </section>
    </main>
</div>