<div class="villa-reg-page">
    <main class="villa-content">
        <section class="villa-action"><button id="btnOpenAddVilla"><i class="fas fa-plus"></i> ADD VILLA</button></section>
        <section class="villa-table">
            <table >
                <thead>
                    <tr>
                        <th>Villa Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="villaJsonTable">
                   <!-- <tr>
                        <td>Villa 1</td>
                        <td class="status-data">Available <span class="stat-indicator"></span></td>
                    </tr>
                    <tr>
                        <td>Villa 2</td>
                        <td class="status-data">Occupied <span class="stat-indicator"></span></td>
                    </tr>
                    <tr>
                        <td>Villa 3</td>
                        <td class="status-data">Occupied <span class="stat-indicator"></span></td>
                    </tr>-->
                </tbody>
                
            </table>
        </section>
        
    </main>
</div>

<!-- confirmation -->
<div class="modal-confirm-deleteV">
    <img src="/assets/question.png" alt="">
    <p>Do you want to delete this villa?</p>
    <input type="text" id="deleteData">
    <section><button id="btnCancelDeleteV">Cancel</button><button id="btnYesDeleteV">Yes</button></section>
 </div>


 <!-- Success -->

 <div class="modal-success-booking">
    <img src="/assets/success.png" alt="">
    <p>Villa deleted successfully!</p>
 </div>

<script>
    $(document).ready(function() {
        var villaList = [];

        $.ajax({
    
                url: "http://localhost:3000/villas", // Your server endpoint URL
                method: "GET",
                async: true,
                success: function(data) {
                const jsonData = data.villa// Parse the JSON string

                $.each(jsonData, function(index, villa) {
                    villaList.push(villa);
                });

                console.log(villaList);

                // Display the villa list in a loop using HTML
                for (var i = 0; i < villaList.length; i++) {
                    var villa_name = villaList[i].villa_name;
                    var villa_id = villaList[i].villa_id;
                    //var villa_status = villaList[i].villa_status;

                    if (villaList[i].villa_status == "active"){

                        var villa_status = "Available"

                    }

                    else if(villaList[i].villa_status =="inactive"){
                        var villa_status = "Occupied"
                    }

                    console.log(villaList[i].villa_name);
                    console.log(villa_status);

                    var data_villa = `
                    <tr>

                        <td>${villa_name}</td>
                        <td class="status-data">${villa_status}<span class="stat-indicator"></span></td>
                        <td><button id="DeleteVilla" value = ${villa_id}>Delete</button></td>
                    
                    </tr>
                    
                    `;

                    $('#villaJsonTable').append(data_villa);
                    
                }

                //var villaView = new DataTable("#villaTable");
                },
                error: function(xhr, status, err) {
                console.error('Error:', err);
                }
         });



    });
</script>