<div class="villa-reg-page">
    <main class="villa-content">
        <section class="villa-action"><button id="btnOpenAddVilla"><i class="fas fa-plus"></i> ADD VILLA</button></section>
        <section class="villa-table">
            <table>
                <thead>
                    <tr>
                        <th>Villa Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Villa 1</td>
                        <td class="status-data">Available <span class="stat-indicator"></span></td>
                    </tr>
                    <tr>
                        <td>Villa 2</td>
                        <td class="status-data">Occupied <span class="stat-indicator"></span></td>
                    </tr>
                    <tr>
                        <td>Villa 3</td>
                        <td class="status-data">Occupied <span class="stat-indicator"></span></td>
                    </tr>
                </tbody>
                
            </table>
        </section>
        
    </main>
</div>